:root {
    --header-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;
    --p_color: rgb(32, 21, 67);
    --title-color: rgb(19, 13, 41);
    --paragraph-color: rgb(0, 21, 29);
    --bg-s: rgb(248, 248, 248);
    --nav-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 1400px;
    overflow-x: hidden;
}

body {
    font-family: var(--body-font);
    margin-top: var(--nav-height);
}

.whatssap {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    background-color: rgb(37,211,102);
    padding: 10px;
    border-radius: 10px;
}

.whatssap:hover .whattsap_menu {
    display: flex;
    align-items: center;
}

.whatssap img {
    width: 40px;
    filter: invert();
    margin-top: 2px;
}

.whattsap_menu {
    position: absolute;
    top: 0px;
    left: -320%;
    width: 100%;
    background-color: rgb(37,211,102);
    gap: 10px;
    width: fit-content;
    height: 67px;
    padding: 0 10px;
    display: none;
}

.whatsapp_link {
    list-style: none;
    text-align: center;
}

.whatsapp_link a {
    color: white;
}

button {
    border: none;
    background: none;
}

button:hover {
    outline: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.hero {
    min-height: 100vh;
}

.nav {
    background-color: var(--bg-s);
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    z-index: 20;
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    font-weight: 600;
    font-family: var(--header-font);
}

.nav__links {
    display: flex;
    gap: 30px;
    position: absolute;
    z-index: 20;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--p_color);
    top: 0;
    right: -100%;
    padding: 80px 0;
    transition: 0.2s;
}

.nav__link {
    list-style: none;
    font-weight: 500;
}

.nav__link a {
    color: white;
    text-decoration: none;
    padding: 16px 8px;
}

.nav__menu {
    position: relative;
    z-index: 20;
}

.nav__menu img {
    width: 25px;
    transition: filter 0.2s;
}

.active-menu img {
    filter: invert();
}

.hero__main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title {
    font-family: var(--header-font);
    color: var(--title-color);
    text-align: center;
}

.hero_patagraph {
    color: var(--paragraph-color);
    width: 90%;
    text-align: center;
    line-height: 1.5;
    margin: 30px auto;
}

.cta {
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
}

.hero__cta_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.hero__cta {
    color: var(--p_color);
    border: 2px solid;
    border-radius: 30px;
    transition: 0.2s;
}

.hero__cta:hover {
    background-color: var(--p_color);
    color: white;
}

.hero__stadistic {
    background-color: var(--bg-s);
    padding: 10px 0 20px;
    width: fit-content;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px var(--p_color);
    margin: 0 auto;
}

.hero__stadistic_text {
    text-align: center;
    color: var(--title-color);
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.hero__stadistic_text span {
    color: var(--p_color);
    font-size: 2em;
}

